/*
  File Name: base.scss
  Author: Leonardo da Costa
  Description: Base theme styles.
*/

//
// Base
// --------------------------------------------------

body {
  font-size: 1rem;
  font-family: $font-family-pt-sans, sans-serif;
}