/*
  File Name: variables.scss
  Author: Leonardo da Costa
  Description: Theme variables.
*/

//
// Font Imports
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//
// Variables
// --------------------------------------------------

// Colors

$black:         #000; 
$white:         #fff;
$gray:          #A7A9AC;

$blue-dark:     #00439A;
$cyan:          #00B2EC;
$yellow:        #FCDA01;

$color-primary:   $cyan;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-pt-sans: 'PT Sans';
$font-family-arial: 'Arial';