/*
  File Name: faqs.scss
  Author: Leonardo da Costa
  Description: Theme FAQs page styles.
*/

//
// Section - FAQs
// --------------------------------------------------

.section-faqs {
  padding-bottom: 3.5rem;
}